.myImg {
    height: 500px;
}

.myImgMobile {
    height: 300px;
}

.btnCarouselMobile {
    opacity: 0.01;
}

.btnSeeMore:hover {
    background: #7dce82;
}

.btnRegister:hover {
    background: #7dce82;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

label {
    position: absolute;
    top: .6rem;
    left: 1rem;
    transition: all .1s ease-in-out;
    cursor: text;
}

:focus+label {
    color: #66afe9;
    top: -.9rem;
    background: white;
}

fieldset.form-group {
    position: relative;
  }
.style{
        background-image: url("https://cf.creatrip.com/original/blog/11335/ih53ws1kxescgfffy2tmke0ti1gl64ic.jpg?d=500&q=80&f=webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
}
.styler{
    background-image: url("https://i.pinimg.com/originals/08/7e/62/087e624a3b81815ebe64207291de5e7f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}